In [ ]:
import pycaret

In [ ]:
from pycaret.datasets import get_data

In [3]:
df = get_data("result/greedy")

,r1,r2,r3,r4,r5,r6,r7,r8,r9,r10,...,r16,r17,r18,r19,r20,r21,r22,r23,r24,Classes
0,4,2,4,1,2,2,3,2,3,3,...,4,2,4,5,2,2,3,3,3,5
1,2,4,1,2,2,3,2,3,3,5,...,2,4,5,2,2,3,3,3,5,2
2,4,1,2,2,3,2,3,3,5,4,...,4,5,2,2,3,3,3,5,2,6
3,1,2,2,3,2,3,3,5,4,3,...,5,2,2,3,3,3,5,2,6,4
4,2,2,3,2,3,3,5,4,3,5,...,2,2,3,3,3,5,2,6,4,4

In [4]:
df_train = df.sample(frac=0.9, random_state=984)
df_test = df.drop(df_train.index)
df.shape
df_train.head()

,r1,r2,r3,r4,r5,r6,r7,r8,r9,r10,...,r16,r17,r18,r19,r20,r21,r22,r23,r24,Classes
2291,1,1,5,3,2,1,6,2,2,4,...,1,4,4,3,2,5,2,5,5,1
4662,1,3,2,2,4,7,3,4,6,1,...,4,2,4,4,5,2,4,1,6,2
3306,2,1,4,2,3,5,2,4,1,2,...,1,7,3,5,2,1,1,5,1,4
2403,3,4,3,3,2,4,6,4,1,2,...,8,5,4,3,3,1,1,1,4,2
1207,1,1,3,1,5,3,5,2,3,4,...,4,5,1,5,1,1,1,4,2,1

In [5]:
df_train.reset_index(drop=True, inplace=True)
df_test.reset_index(drop=True, inplace=True)

In [6]:
from pycaret.classification import *
s = setup(df_train, target = 'Classes')

In [7]:
all_models = ['lr','knn','nb','dt','svm','rbfsvm','gpc','ridge','rf','ada','gbc','lda','et','dummy']
prefer_models = ['dt','rbfsvm','gbc','rf','et','knn']
# best = compare_models(include=prefer_models)
# best = compare_models(include=all_models)

In [8]:
for idx, item in enumerate(prefer_models):
    model = create_model(item)
    evaluate_model(model)
    save_model(model, f"model/model_{item}")

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

Transformation Pipeline and Model Successfully Saved

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

Transformation Pipeline and Model Successfully Saved

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

Transformation Pipeline and Model Successfully Saved

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

Transformation Pipeline and Model Successfully Saved

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

Transformation Pipeline and Model Successfully Saved

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

Transformation Pipeline and Model Successfully Saved